p {
  font-family: arial;
  text-align: center;
}
.model-text {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;

}
.order-text {
  margin-top: 0;
 
  
  
}
